---
import EventCard from '@components/EventCard.astro';
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
const events = (await getCollection('events')).sort(
  (a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf()
);
const upcomingEvents = events.filter(
  (event) => event.data.eventDate >= new Date()
);
const pastEvents = events
  .filter((event) => event.data.eventDate < new Date())
  .sort((a, b) => b.data.eventDate.valueOf() - a.data.eventDate.valueOf());
---

<Layout title="Events - Cotham Gardens PTFA">
  <div class="prose lg:prose-xl">
    <h1>Upcoming Events</h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {upcomingEvents.map((event) => <EventCard event={event} />)}
    </div>

    <h1 class="mt-8">Past Events</h1>
    <div
      class="grid grid-cols-1 gap-4 opacity-50 md:grid-cols-2 lg:grid-cols-3"
    >
      {pastEvents.map((event) => <EventCard event={event} />)}
    </div>
  </div>
</Layout>
