---
import Layout from '@layouts/Layout.astro';

import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const events = await getCollection('events');
  return events.map((event) => ({
    params: { id: event.id },
    props: { event }
  }));
}

const { event } = Astro.props;
const { Content } = await render(event);
---

<Layout title={event.data.title + ' - Cotham Gardens PTFA'}>
  <div class="prose lg:prose-xl">
    <Content />
  </div>
</Layout>
